.App {
  text-align: center;
  background: url('./Images/bodyBackground5.png');
  background-size: cover;
  opacity: 0.7;
}
.signup{
  width: 600px;
  position: relative;
  left:20%;
  top:30%;
  z-index: 1;
}
.signupbtn{
  margin-left: 30px
}
#login{
  width:400px;
  position: relative;
  left:22.6%;
  top:30%;
  z-index: 1;
}

.continue{
  position: absolute;
  top:80%;
  left: 45%;
}

.equal{
  width: 450px;
  padding: 20px;
  flex-wrap: wrap;
  margin-left: 30%;
}
.input{
  margin: 10px;
}

/*  Petition Styling*/
.petition{
  width: 670px;
  position: absolute;
  top:80px;
  right:3%;
  background-color: white;
}

/*  GuestSceen styling*/
.sidebar{
  width: 150px;
  height: 100vh;
  background-color: yellow;
  position: absolute;
  top: 0px;
}
.pointing{
  text-align: left;
}

.petitionContent{
  width: 670px;
  height: 400px;
  overflow: scroll;
}
.GuestScreen{
  height: 100vh;
}
#guestContainer{
  height: 300px;
  width: 90%;
  height:100%;
  margin-left: 10%;
  background: url('./Images/childImage6.jpg');
  background-size: cover;
  z-index: 1;
  opacity: 0.9;
}
#guestContainer:hover{
  opacity: 1;
}
#secauth{
  position: absolute;
  left: 85%;
  top:10px;
}

 /* Article styling*/
.articles{
  text-align: left;
  width: 500px;
  height: 650px;
  overflow: scroll;
  position: absolute;
  top: 80px;
  left: 15%;
  background-color: white;
}

.meta{
  float:right;
}

/* Memberhome styling */
#memberActivity{
  height: 100vh;
}
.activity{
  width: 700px;
  position: absolute;
  top: 80px;
  right: 20px;
  height: 650px;
  overflow: scroll;
  background-color: white;
}
.logout{
  margin-left: 60%;
  position: relative;
  top:15px;
}
.avatar{
  position: absolute;
  right:15%;
  top: 10px;
  bottom: 300px;
}
.avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#modal{
  position: absolute;
  top:10px;
  right:75%;
}
#Signupmodal{
  /* border:solid red; */
  position: absolute;
  top:10px;
  left:15%;
}
#secondModal{
  width: 90%;
  height: 500px;
}
#logout{
  position: absolute;
  top: 20px;
  right: 100px;
}
#continueBtn{
  /* border: solid red; */
  position: absolute;
  top: 68%;
  right:29.2%;
  z-index: 1;
}
#welcomegreeting{
  width: 500px;
  height: 60px;
  position: absolute;
  z-index: 1;
  top:40px;
  left: 33%;
  color:yellow;
  background-color: black;
  border-radius: 10px;
}
#landingpage{
  height: 100vh;
  display: flex;
}

.one{
  width: 100%;
  height: 300px;
  background: url('./Images/childImage1.jpg');
  background-size:contain;
  opacity: 1;
  position: absolute;
  bottom:100%;
  right:71.4%;
}
.two{
  width: 600px;
  height: 300px;
  background: url('./Images/childImage2.jpg')fixed;
  background-size:contain;
  position: absolute;
  right:25px;
  top: -175%;
}
.three{
  width: 845px;
  height: 493px;
  border:solid black;
  background: url('./Images/childImage4.jpg')fixed;
  background-size:contain;
  position: relative;
  top: 29%;
  left:100%;

}

.four{
  width: 610px;
  height: 209px;
  background: url('./Images/childImage5.jpeg');
  background-size:contain;
  position: relative;
  right: 135%;
  top: 73%;
}
.four:hover{
  opacity: 0.6;
}

.holder{
  border: solid black;
  height: 400px;
  width: 70vw;
  margin-left: 15%;
  margin-top: 15%;
  z-index: 1;
  position: absolute;
  background-color: white;
  opacity: 0.8;
}
.holder:hover{
  opacity: 1;
}
#yourPettitionnh1{
  width: 600px;
  margin-left: 33%;
  background-color: black;
  color: white;
}
#petitionContainer{
  background-color: white;
  border:solid black;
  width: 80vw;
  height:50.5vw;
  margin-left: 16%;
  margin-top: 65px;
  overflow: scroll;
  position: relative;
  bottom:20px;
}

#coverimg{
  width: 450px;
  height: 250px;
  margin-left: 40%;
}
.categoriesPet{
  position: relative;
  bottom: 34%;
  left: 46%;
  font-size: 40px;
  background-color: yellow;
  width: 300px;
  opacity: 0.7;
}
.petTitile{
  position: relative;
  right:30%;
  top:10%;
}
#deleteEdit{
  position: absolute;
  bottom:100px;
  left: 64%;
}
#petlabel{
  width:400px;
  position: relative;
  bottom: 280px;
  margin: 10px;
}
#petitionshare{
  width: 400px;
  position: relative;
  bottom: 100px;
  left: 30%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
