.App {
  text-align: center;
}
.signup{
  /* border: solid blue; */
  width: 600px;
  position: absolute;
  left: 90px;
  top:30%;
}
.signupbtn{
  margin-left: 30px
}
#login{
  /* border: solid blue; */
  width:400px;
  position: absolute;
  right:10%;
  top:30%;
}
.continue{
  position: absolute;
  top:80%;
  left: 45%;
}

.equal{
  width: 450px;
  padding: 20px;
  /* border: solid black; */
  flex-wrap: wrap;
  margin-left: 30%;
}
.input{
  margin: 10px;
}

/*  Petition Styling*/
.petition{
  /* border: solid blue; */
  width: 500px;
  position: absolute;
  top:40px;
  right:15%;
}

/*  GuestSceen styling*/
.sidebar{
  /* border: solid black; */
  width: 150px;
  margin-top: 40px;
}
.pointing{
  text-align: left;

}
.divider{
  margin: 30%;
}
.petitionContent{
  height: 600px;
  overflow: scroll;
}
 /* Article styling*/
.articles{
  /* border:solid blue; */
  text-align: left;
  width: 500px;
  height: 650px;
  overflow: scroll;
  position: absolute;
  top: 120px;
  left: 15%;
}
.meta{
  float:right;
}

/* Memberhome styling */
.activity{
  /* border:solid blue; */
  width: 500px;
  position: absolute;
  top: 120px;
  right: 15%;
  height: 650px;
  overflow: scroll;
}
.logout{
  margin-left: 60%;
  position: relative;
  top:15px;
}
.avatar{
  position: absolute;
  right:15%;
  top: 10px;
  bottom: 300px;
}
.avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#modal{
  /* border:solid blue; */
  position: absolute;
  top:60px;
  right:39%;
}
#Signupmodal{
  /* border:solid red; */
  position: absolute;
  top:40px;
  right: 39%;
}
#secondModal{
  width: 90%;
  height: 500px;
}
#logout{
  position: absolute;
  top: 20px;
  right: 100px;
}
/*  SMALL is the create petition button*/
.createPetition{
  border: solid red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
